@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Noto+Sans&display=swap'); 

@media (prefers-color-scheme:dark) {
    :root {
        --background-color: #263238;
        --font-color: white;
        --border-color: white;
        --box-shadow-color: white;
        --scrollbar-background: #282c34;
        --button-highlight: #3f545f;
    }    
}
  
@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --font-color: black;
        --border-color: black;
        --box-shadow-color: grey;
        --scrollbar-background: lightgrey;
        --button-highlight: white;
    } 
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: var(--background-color);
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
}

p, label {
  font-family: 'Noto Sans', sans-serif;
}

button {
  background-color: var(--button-highlight);
  border: var(--border-color) solid;
  color: var(--font-color);
  border-radius: 20px;

  padding: 10px;

  text-align: center;

  font-family: "Noto Sans", sans-serif;
}

button:not(:disabled) {
	cursor: pointer;
}

button:focus { outline: none; }

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}

img {
  pointer-events: none;
}

input[type="text"] {
  padding: 5px;
  background: var(--background-color);
  color: var(--font-color);
  border: var(--border-color) 2px solid;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]::placeholder {
  color: var(--font-color);
}

input[type="text"]:focus-visible {
  outline: none;
}
