#game-view {
    height: 100%;

    width: 100%;
}

#player_info {
    position: fixed;
    
    bottom: 0;

    border-color: var(--border-color);

    overflow-x: auto;

    height: auto;
}

#game-cards {
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    align-items: center;
    flex-direction: column;

    margin-top: 50px;

    width: 500px;
}

#game-cards-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
#discard-pile {
    padding: 10px;
    font-size: 18px;
    margin: 50px;
    /* width: 200px; */
}

#discard-pile img {
    min-height: 150px;
    height: 20vh;
    max-height: 200px;

    width: auto;
}

#draw-pile {
    padding: 10px;
    margin: 10px;
    margin: 50px;
    width: fit-content;
}

#draw-pile img {
    min-height: 150px;
    height: 20vh;
    max-height: 200px;

    width: auto;
}

#player_cards_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: center;

    width: 100%;

    /* overflow-y: auto; */
    overflow-y: hidden;

    margin-left: auto;
    margin-right: auto;
}


.player_cards {
    border: none;
    background: none;

    padding: 10px;
    margin: 10px;

    /* width: 100%; */
    width: fit-content;
    height: 100%;

    transition: all 250ms ease-in-out;
}

.player_cards:hover {
    transform: scale(1.2);
}

.player-card-img {
    min-height: 150px;
    height: 20vh;
    max-height: 200px;
}

#info {
    display: flex;
}

#info > p {
    padding: 5px;
}

.see-the-future-cards-container {
    display: flex;
}
#discard-pile-img {
    width: 90px;
    height: 120px;
}

#card-back-img {
    width: 90px;
    height: 120px;
}

.discard-pile-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.game-card-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alter-the-future-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.alter-the-future-card-container img {
    height: 100%;
}
.alter-the-future-card-select {
    background: var(--background-color);
    color: var(--font-color);
    
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--border-color);
  
    margin: 5px;
    padding: 5px;

    cursor: pointer;

    width: fit-content;
}
.alter-the-future-card-select:focus { outline: none; }
.see-the-future-cards5-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}
.see-the-future-cards5-container button {
    width: fit-content;
}
.alter-the-future-card-container {
    width: fit-content;
}
.alter-thw-future-container {
    height: 100%;
    max-height: calc(100vh/3);
    overflow-y: auto;
}

img {
    min-height: 150px;
    height: 20vh;
    max-height: 200px;

    width: auto;
}