body {
  text-align: center;

  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#usrnameInput {
  width: 350px;
}

#playButton {
  height: 50px;
  width: 100px;
}

#title-screen-header {
  display: flex;
  align-items: center;
}

#title-screen-header > * {
  margin: 5px
}

#logo {
  width: 10rem;
  height: 10rem;
}