@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Noto+Sans&display=swap'); 

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: var(--background-color);
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
}

p, label {
  font-family: 'Noto Sans', sans-serif;
}

button {
  background-color: var(--button-highlight);
  border: var(--border-color) solid;
  color: var(--font-color);
  border-radius: 20px;
  cursor: pointer;

  padding: 10px;

  text-align: center;

  width: 100%;
}

button{
  width: 100%;

  height: 100%;

  transition: all 250ms ease-in-out;
}

button:hover {
  transform: scale(1.2);
}

button:focus { outline: none; }

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}

img {
  pointer-events: none;
}

#message_box {
  width: 45%; 

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  border-style: dashed;
  /* border-color: grey; */
  border-color: var(--border-color);

  /* background-color: lightgrey; */
  background-color: var(--background-color);

  display: none;

  padding: 20px;

  box-shadow: 10px 10px 10px var(--box-shadow-color);
}

#message_box button {
  max-width: 300px;
  margin: 5px;
}

.how-to-play-iframe {
  width: 100%;
}

a {
  color: var(--font-color);
}

input[type="text"] {
  padding: 5px;
  background: var(--background-color);
  color: var(--font-color);
  border: var(--border-color) 2px solid;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]::placeholder {
  color: var(--font-color);
}

input[type="text"]:focus-visible {
  outline: none;
}